@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

h2 {
  font-size: 32px;
  line-height: 64px;
  font-weight: 700;
}

.subtitle {
  font-size: 21px;
  line-height: 36px;
  font-weight: 700;
  color: #131032 !important;
}

.description {
  color: #131032 !important;
  font-weight: 400 !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
  box-sizing: border-box !important;
}

.text-body {
  font-size: 16px;
  line-height: 28px;
  color: #131032;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.progress {
  position: relative;
  width: 100%;
  height: 46px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.playing_progress {
  top: 0;
  height: 46;
  left: 0;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
}

.playing_progress img {
  max-width: none;
  height: auto;
}

.progress img {
  max-width: none;
  height: auto;
}

.circle {
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #ff4343;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle:before,
.circle:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #ff4343;
  border-radius: 50%;
}

.circle:before {
  animation: ripple 2s linear infinite;
}

.circle:after {
  animation: ripple 2s linear 1s infinite;
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

.learn_more {
  font-size: 17px !important;
  line-height: 30px !important;
  font-weight: 700 !important;
  text-decoration: underline !important;
  text-decoration-line: underline !important;
  text-decoration-style: solid !important;
  text-decoration-color: currentcolor !important;
  text-decoration-thickness: auto !important;
}

.learn_more_text {
  font-size: 16px !important;
  line-height: 28px !important;
  font-weight: 500;
}

.know_more_btn {
  display: block;
  min-width: 225px;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
}

.text-xs-km {
  font-size: 13px !important;
}

.benefits-heading {
  font-size: 42px !important;
}

.benefits-subtitle {
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
}

.benefit_text {
  font-size: 16px;
  line-height: 28px;
}

.benefit_buttons {
  display: block;
  min-width: 225px;
  padding: 0 24px;
  line-height: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 52px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 769px) {
  .benefit_buttons {
    width: 335px;
  }
  .benefits-heading {
    font-size: 30px !important;
  }
  .accordion-subheader {
    font-size: 17px !important;
    line-height: 30px !important;
  }
  .supported_apps img {
    max-width: 100% !important;
  }
  .benefits-last-heading {
    font-size: 30px !important;
    line-height: 48px !important;
    font-weight: 600 !important;
  }
}

.accordion-subheader {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
}

.benefit_subtitle {
  font-size: 21px;
  line-height: 36px;
  font-weight: 700;
}

.last-banner {
  background: #131032;
  color: white;
}

.benefits-last-heading {
  font-size: 42px;
  line-height: 64px;
  font-weight: 600;
}

.supported_apps img {
  max-width: none;
}

.supported-app-heading {
  font-size: 42px;
  line-height: 64px;
  font-weight: 700;
}

.reviews-heading {
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
}

.reviews-link {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.reviews-subheading {
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
}

.number-of-reviews-text {
  font-size: 15px;
  line-height: 28px;
  font-weight: 600;
  color: #576069;
}

.rating-number-text {
  font-size: 36px;
  line-height: 60px;
  font-weight: 700;
}

.score_number {
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://krisp.ai/wp-content/themes/krisp-v4/css/../imgs/img_circle_chart.svg)
    no-repeat center center;
  background-size: auto;
  background-size: 125px 125px;
}

.score {
  width: 160px;
}

.scores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 480px;
}

.ratings-text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: #576069;
}
